<%- layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <h2 class="col-6 offset-2">Sign-up on wanderlust</h2>
        <div class="col-6 offset-3 mt-2">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3" >
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Enter username" class="form-control" required>
                <div class="invalid-feedback">
                    Username should be entered
                </div>
                <div class="valid-feedback">
                    Username Looks good !
                </div>
            </div>
            <div class="mb-3" >
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="Enter Email" class="form-control" required>
                <div class="invalid-feedback">
                    Email should be entered
                </div>
                <div class="valid-feedback">
                    Email Looks good !
                </div>
            </div>
            <div class="mb-3" >
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Enter Password" class="form-control" required>
                <div class="invalid-feedback">
                    Password should be entered
                </div>
                <div class="valid-feedback">
                    Password Looks good !
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success">Sign up</button>
        </form>
        </div>
    </div>
</body>